@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Josefin Sans";
  background-color: aliceblue;
}

header {
  display: flex;
  background: black;
  height: 13%;
  color: white;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-right: 8%;
}

.logo {
  margin-left: 8%;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.svgheader {
  background-color: red;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}


.littlewrapper, .bigwrapper {
	display: flex;
	justify-content: center;
  padding: 3rem;
}

.littlewrapper div, .bigwrapper div {
	display: flex;
	flex-direction: column;
	margin: 1rem 0.5rem;
  background-color: white;
  height: 622px;
}

p.continent {
  margin-top: auto;
  color: rgb(160, 160, 160);

}
p, p.continent, h2 {
  padding-left: 20px;
  padding-right: 5px;
}

p {
  font-size: 1.35rem;
}

h2.bigh2 {
  font-size: 2.6rem;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 50%;
}

footer div {
  display: flex;
  flex-flow: column;
  margin-top: 5%;

}

footer p, footer h2 {
  padding: 0;
  margin: 0;
}

footer h2 {
  padding-bottom: 10%;
}

footer p {
  padding-bottom: 3%;
  font-size: 1rem;
}

footer img {
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

}

.imgfooter {
  width: 20%;
  text-align: center;
  background-color: rgba(140, 140, 140, 0.477);
  margin-top: 0;
  padding-top: 5%;
}









@media screen and (max-width: 900px) {
  .littlewrapper, .bigwrapper {
    display: flex;
    flex-wrap: wrap;
  }
  img {
    width: 100%;
  }

}
  

