@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");



html,
body {
    margin: 0;
    height: 100%;
    font-family: "Josefin Sans";
    background-color: aliceblue;
}

header {
    display: flex;
    background: black;
    height: 13%;
    color: white;
    font-size: 1.2rem;
    justify-content: flex-end;
}

.wrapper {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: space-around;
    justify-items: flex-end;
    align-items: center;
    margin-right: 8%;
}

.logo {
    margin-left: 8%;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.svgheader {
    background-color: red;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

section {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.kebumen {
    display: flex;
    flex-flow: column;
}

p {
    text-align: start;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

figcaption#kebtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}